<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="public/css/index.css" />
  </head>
  <body>
    <button onclick="add()">增加Cookie</button>
    <button onclick="del()">删除Cookie</button>
    <button onclick="edit()">修改Cookie</button>
    <button onclick="show()">查看Cookie</button>
    <%-include('header.html')%>
    <h1>我是<%= name%></h1>
    <h1>我今年<%= age%></h1>
    <h1>我的id是<%= id%></h1>
    我的技能是：
    <ul>
      <% for(var i = 0;i < skills.length;i++) {%>
      <li><%= skills[i]%></li>
      <%}%>
    </ul>
    <script>
      function add() {
        fetch('/add',{
          method: 'post',
          headers: {
            'Content-type': 'application/json'
          }
        })
      }
      function del() {
        fetch('/del',{
          method: 'post',
          headers: {
            'Content-type': 'application/json'
          }
        })
      }
      function edit() {
        fetch('/edit',{
          method: 'post',
          headers: {
            'Content-type': 'application/json'
          }
        })
      }
      function show() {
        fetch('/show',{
          method: 'post',
          headers: {
            'Content-type': 'application/json'
          }
        })
      }
    </script>
  </body>
</html>
